<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="com.dependency_injection_objecttype.Address" id="addressBeanId">
        <property name="streetName" value="vejalpur"/>
        <property name="pincode" value="380051" />
    </bean>

    <bean class="com.dependency_injection_objecttype.Employee" id="empBeanId">
        <property name="empId" value="789" />
        <property name="empName" value="Abhishek" />
        <property name="empAddress" ref="addressBeanId"/>
    </bean>
</beans>